@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8; /* Light background for the overall app */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Racing Sans One', cursive; /* Custom font for headings */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;    
  }
  
